@use "../sass/abstracts/vars";

.tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  &_item {
    padding: 1rem 1rem;
    font-family: vars.$font_secondary;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    &.active {
      border-bottom: 3px solid vars.$color_primary;
    }
  }
}
