@use "../abstracts/vars";

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
li {
  list-style: none;
}

/* invert padding so it applies inside---not outside */
* {
  box-sizing: border-box;
}

/* Gets rid of the 1 pixel spaces between images. */
img {
  vertical-align: top;
}

body {
  background-color: #ddd;
  font-family: vars.$font_primary;
}
